<form action="/login" method="post">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">username</span>
        <input type="text" name="uname" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">password</span>
        <input type="password" name="password" class="form-control" placeholder="password" aria-label="Username"
            aria-describedby="basic-addon1" required>
    </div>
    <button class="btn btn-outline-success" type="submit">login</button>
</form>
<p>create an account<a href="/signup">sign up</a></p>