<form action="/signup" method="post">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">first name</span>
        <input type="text" name="fname" class="form-control" placeholder="first name" aria-label="Username"
            aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">last name</span>
        <input type="text" name="lname" class="form-control" placeholder="last name" aria-label="Username"
            aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">password</span>
        <input type="password" name="password" class="form-control" placeholder="password" aria-label="Username"
            aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">confirm password</span>
        <input type="password" name="pass" class="form-control" placeholder="confirm password" aria-label="Username"
            aria-describedby="basic-addon1" required>
    </div>
    <button class="btn btn-outline-success" type="submit">sign in</button>
</form>